body {
    margin: 0;
    padding: 0;

    font-family: "Lato", Arial, sans-serif;
    font-size: 16px;
    color: #303030;
}

a {
    text-decoration: none;
    color: #ffffff;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    clip: rect(0 0 0 0);
    overflow: hidden;
} 

/* Header 
========================================================================== */

.main-header {
    background: #000000 url("../img/backgroung_header.jpg") no-repeat;
    color: #ffffff;
}

.site-menu {
    text-align: right;
    list-style: none;
}

.promo h2 {
    text-align: center;
    font-size: 72px;
    text-transform: uppercase;
}

.promo-text {
    text-align: center;
    font-family: Georgia, serif;
    font-size: 32px;
    font-style: italic;
}

.user-menu {
    list-style: none;
    font-size: 22px;
    text-transform: uppercase;
}

/* Domain 
========================================================================== */

.domain h2 {
    font-size: 24px;
    color: #383737;
}

.domain p {
    color: #a2a2a2;
}

.domain select,
.domain label,
.domain-tariffs {
    color: #cbcbcb;
}

.domain-tariffs {
    font-size: 14px;
}

.domain-tariffs th {
    text-transform: uppercase;
}

/* Packages 
========================================================================== */

.packages {
    background: #000000 url("../img/backgroung_packages.jpg") no-repeat;
    color: #ffffff;
}

.package-heading {
    text-align: center;
    color: #282828;
    text-transform: uppercase;
}

.package-features li {
    list-style: none;
}

.packages span {
    color: #b4b4b4;
}

.package-basic li span:nth-child(2n) {
    color: #f9d423;
}

.package-normal li span:nth-child(2n) {
    color: #7f8c8d;
}

.package-big li span:nth-child(2n) {
    color: #f85f40;
}

.package-biggest li span:nth-child(2n) {
    color: #1abc9c;
}

.package-price {
    text-align: center;
}

.package-price h3 {
    font-size: 28px;
    color: #2c2c2c;
}

.package-price a {
    text-transform: uppercase;
}

/* About Us 
========================================================================== */

.about-us h2 {
    font-size: 36px;
}

.about-us p {
    font-size: 18px;
    color: #747474;
}

.about-team {
    text-align: center;
}

.about-team b {
    font-size: 17px;
}

.about-team li {
    list-style: none;
}

.about-team span {
    font-size: 15px;
    color: #8e8e8e;
}

/* Comments 
========================================================================== */

.comments {
    background: #000000 url("../img/backgroung_comments.jpg") no-repeat;
    color: #ffffff;
}

.comments blockquote {
    text-align: center;
    font-size: 20px;
}

.comments cite {
    font-weight: bold;
}

.quote-radio {
    list-style: none;
}

/* Functions 
========================================================================== */

.function-items {
    text-align: center;
}

.functions h3 {
    font-size: 18px;
}

.functions p {
    color: #7e7e7e;
}

/* Footer 
========================================================================== */

.main-footer {
    background-color: #2a2a2a;
}

.main-footer,
.main-footer a {
    color: #686868;
}

.main-footer a:hover,
.main-footer a:active,
.main-footer a:focus {
    color: #ffffff;
}

.footer-menu li,
.footer-contacts li {
    list-style: none;
}