* { margin: 0; 
    padding: 0; 
}

body {
    margin: 0 auto;
    min-width: 1600px;

    font-family: "Lato", Arial, sans-serif;
    font-size: 16px;
    color: #303030;
}

a {
    text-decoration: none;
    color: #ffffff;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    clip: rect(0 0 0 0);
    overflow: hidden;
} 

/* Header 
========================================================================== */

.main-header {
    
}

.container-preview {
    min-height: 945px;
    background-blend-mode: darken;
    background: rgba(0,0,0,0.8) url("../img/backgroung_header.jpg") no-repeat;
    color: #ffffff;
}

.container-promo {
    min-height: 856px;
    display: flex;
}

.promo {
    margin: auto;
}

.main-nav {
    padding: 0 200px;
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid #2F2E33;
    min-height: 90px;
}

.main-nav__logo {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.main-nav__menu {
    display: flex;
    justify-content: space-between;
    min-width: 634px;
    list-style: none;
    text-transform: uppercase;
}

.main-nav__item {
    display: flex;
}

.main-nav__item a:link {
    display: flex;
    align-items: center;

}   

.main-nav__item a:hover {
    border-bottom: 1px solid #fff;
}    

.promo__heading {
    text-align: center;
    font-size: 72px;
    text-transform: uppercase;
}

.promo__text {
    text-align: center;
    font: italic 32px/47px Georgia, serif;
}

.user-nav {
    min-height: 120px;

}

.user-nav__list {
    display: flex;
    justify-content: space-between;
    min-height: 120px;
    list-style: none;
    font-size: 22px;
    text-transform: uppercase;
}

.user-nav__item-left,
.user-nav__item-right {
    display: flex;
    justify-content: center;
    flex-grow: 1;
}

.user-nav__item-left {
    background-color: #21424a;
}

.user-nav__item-right {
    background-color: #2fac6c;
}

.user-nav__link {
    display: flex;
    align-items: center;
}

/* Domain 
========================================================================== */

.domain {
    text-align: center;
    padding: 92px 0;
    border-bottom: 1px solid transparent;
}

.domain__heading {
    font-size: 24px;
    line-height: 50px;
    color: #383737;
}

.domain__text {
    color: #a2a2a2;
}

.domain-form {
    display: flex;
    margin: 40px auto 0 auto;
    width: 890px;
    border: 1px solid #d9d9d9;
}

.domain__label {
    display: flex;
    justify-content: center;
    align-items: center;
    min-width: 72px;
    border-right: 1px solid #d9d9d9;
}

.domain__input {
    display: flex;
    min-width: 714px;
    min-height: 45px;
    padding-left: 15px;
    border: none;
    color: #868686;
    font: inherit;
}

.domain__select {
    display: flex;
    justify-content: center;
    align-items: center;
    min-width: 88px;
    min-height: 50px;
    padding: 0 15px;
    border-right: 1px solid #fff; /* for Opera */
    border-top: 1px solid #fff; /* for Opera */
    border-bottom: 1px solid #fff; /* for Opera */
    border-left: 1px solid #d9d9d9; /* for Opera */
}

.domain__option {
    display: flex;
    justify-content: center;
    align-items: center;
    border-left: 1px solid #d9d9d9;
}

.domain-tariffs {
    width: 890px;
    height: 195px;
    border: 1px solid #d9d9d9;
    margin: 30px auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
  
.domain-tariffs__row {
    display: flex;
}
  
.domain-tariffs__cell {
    width: 25%;
    min-height: 75px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    font-size: 14px;
}
  
.domain-tariffs__cell:before {
    content: '';
    width: 1px;
    height: 90%;
    background: #d9d9d9;
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
}
  
.domain-tariffs__cell:first-child:before {
    display: none;
}
  
.domain-tariffs__cell:after {
    content: '';
    width: 90%;
    height: 1px;
    background: #d9d9d9;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
}

  .domain-tariffs__cell:first-child {
    text-transform: uppercase;
}
  
.domain-tariffs__row:last-child .domain-tariffs__cell:after {
    display: none;
}

.domain__select,
.domain__label,
.domain-tariffs {
    color: #cbcbcb;
}



/* Packages 
========================================================================== */

.packages {
    padding: 100px 200px;
    border-bottom: 1px solid transparent;
    background-blend-mode: darken;
    background: rgba(0, 0, 0, 0.4) url("../img/backgroung_packages.jpg") no-repeat;
    color: #000000;
    display: flex;
}

.packages a {
    color: #000000;
}

.package-ver {
    background-color: #fff;
    margin-right: 59px;
    min-width: 257px;
    min-height: 567px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.package-ver__heading {
    text-align: center;
    color: #282828;
    text-transform: uppercase;
}

.package-ver__item {
    list-style: none;
}

.package-ver__item-option {
    color: #b4b4b4;
}

.yellow {
    color: #f9d423;
}

.gray {
    color: #7f8c8d;
}

.red {
    color: #f85f40;
}

.green {
    color: #1abc9c;
}

.package-ver__price {
    text-align: center;
}

.package-ver__price-heading {
    font-size: 28px;
    color: #2c2c2c;
}

.package-ver__price-select {
    text-transform: uppercase;
}

/* About Us 
========================================================================== */

.about {
    padding: 110px 200px;
    border-bottom: 1px solid transparent;
}

.about__us-heading {
    font-size: 36px;
}

.about__us-text{
    font-size: 18px;
    color: #747474;
}

.about__team {
    display: flex;
    text-align: center;
}

.about__team-name {
    font-size: 17px;
}

.about__team-item {
    list-style: none;
}

.about__team-position {
    font-size: 15px;
    color: #8e8e8e;
}

/* Comments 
========================================================================== */

.comments {
    padding: 50px 355px;
    border-bottom: 1px solid transparent;
    background-blend-mode: darken;
    background: rgba(0, 0, 0, 0.7) url("../img/backgroung_comments.jpg") no-repeat;
    color: #ffffff;
}

.comments__quote {
    text-align: center;
    font-size: 20px;
}

.comments__author {
    font-weight: bold;
}

.comments__quote-list {
    display: flex;
    justify-content: center;
}

.comments__quote-radio {
    list-style: none;
}

/* Functions 
========================================================================== */

.functions {
    padding: 100px 200px;
    border-bottom: 1px solid transparent;
}

.function__items {
    display: flex;
}

.function__items {
    text-align: center;
}

.function__item-heading {
    font-size: 18px;
}

.function__item-text {
    color: #7e7e7e;
}

/* Footer 
========================================================================== */

.main-footer {
    padding: 0 200px 50px;
    background-color: #2a2a2a;
}

.main-footer,
.main-footer a {
    color: #686868;
}

.main-footer a:hover,
.main-footer a:active,
.main-footer a:focus {
    color: #ffffff;
}

.footer-bottom__nav-item,
.vcard li {
    list-style: none;
}